<md-content layout-padding flex>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Bitácora</span>
      </md-card-title-text>
      <md-button class="md-raised md-primary" ui-sref="contenido">Nuevo</md-button>
    </md-card-title>
    <md-card-content layout-align="space-between">
      <md-list>
        <md-list-item class="md-3-line" ng-repeat="contenido in bitacora.bitacora">
          <div class="md-list-item-text">
            <h3>{{ contenido.bita_fecha }}</h3>
            <h4>Actividades planificadas</h4>
            <p>{{ contenido.bita_actividades | limitTo: 20 }}{{ contenido.bita_actividades.length > 100 ? '...' : '' }}</p>
            <h4>Conclusiones</h4>
            <p>{{ contenido.bita_conclusiones | limitTo: 20 }}{{ contenido.bita_conclusiones.length > 100 ? '...' : '' }}</p>
          </div>
          <md-button class="md-secondary" ui-sref="contenido({fecha:contenido.bita_fecha})">Ver</md-button>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</md-content>
