<md-content layout-padding flex>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Detalle de actividad</span>
      </md-card-title-text>
      <md-datepicker ng-model="contenido.fecha" md-placeholder="Ingresar fecha"
        ng-change="contenido.loadContent()"></md-datepicker>
    </md-card-title>
    <md-card-content layout-align="space-between">
      <form name="bitacoraForm" layout-padding>
        <md-input-container class="md-block">
          <label>Actividades planificadas</label>
          <textarea ng-model="contenido.contenido.bita_actividades" columns="1" md-maxlength="1000" rows="5"></textarea>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Conclusiones (al término del día)</label>
          <textarea ng-model="contenido.contenido.bita_conclusiones" columns="1" md-maxlength="1000" rows="5"></textarea>
        </md-input-container>
        <section layout="column" layout-gt-xs="row" layout-align="center strech" layout-align-gt-xs="end center">
          <md-button class="md-raised md-primary" ng-click="contenido.guardarContenido()" flex-order-gt-xs="2">Guardar</md-button>
          <md-button class="md-raised md-warn" ng-click="contenido.eliminarContenido()" flex-order-gt-xs="1">Eliminar</md-button>
        </section>
      </form>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-click="contenido.dateBack()">Anterior</md-button>
      <md-button ng-click="contenido.dateNext()">Siguiente</md-button>
    </md-card-actions>
  </md-card>
</md-content>
